biome_decoration--DecorationFrame#biomeFrame {
    background: transparent;
    qproperty-cornerRadius: 3;
}

QWidget#biomeTitlebar {
    background: rgb(30, 30, 30);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /*min-height: 28px;
    max-height: 28px;*/
}

biome_decoration--DecorationFrame#biomeFrame[focused="false"] QWidget#biomeTitlebar {
    background: rgb(24, 24, 24);
}

QLabel#biomeTitle {
    background: transparent;
    color: rgb(235, 235, 235);
    font-size: 10pt;
}

biome_decoration--DecorationFrame#biomeFrame[focused="false"] QLabel#biomeTitle {
    color: rgb(150, 150, 150);
}

biome_decoration--DecorationBorder {
    background: rgb(30, 30, 30);
}

biome_decoration--DecorationFrame#biomeFrame[focused="false"] biome_decoration--DecorationBorder {
    background: rgb(89, 89, 89);
}

QWidget#biomeBorderLeft, QWidget#biomeBorderRight {
    min-width: 2px;
    max-width: 2px;
}

QWidget#biomeBorderBottom {
    min-height: 2px;
    max-height: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

biome_decoration--DecorationButton {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 3px;
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
    qproperty-buttonSpacing: 6;
    qproperty-buttonMarginRight: 6;
}

biome_decoration--DecorationButton#biomeButtonMinimize {
    qproperty-icon: url(:/biome/decoration/icons/minimize-normal.png);
}
biome_decoration--DecorationButton#biomeButtonMaximize {
    qproperty-icon: url(:/biome/decoration/icons/maximize-normal.png);
}
biome_decoration--DecorationButton#biomeButtonClose {
    qproperty-icon: url(:/biome/decoration/icons/close-normal.png);
}

biome_decoration--DecorationFrame#biomeFrame[focused="false"] biome_decoration--DecorationButton#biomeButtonMinimize {
    qproperty-icon: url(:/biome/decoration/icons/minimize-dim.png);
}
biome_decoration--DecorationFrame#biomeFrame[focused="false"] biome_decoration--DecorationButton#biomeButtonMaximize {
    qproperty-icon: url(:/biome/decoration/icons/maximize-dim.png);
}
biome_decoration--DecorationFrame#biomeFrame[focused="false"] biome_decoration--DecorationButton#biomeButtonClose {
    qproperty-icon: url(:/biome/decoration/icons/close-dim.png);
}

biome_decoration--DecorationButton:hover {
    background: rgba(60, 60, 60, 70%);
    border: 1px solid rgba(60, 60, 60, 60%);
}

biome_decoration--DecorationButton:pressed {
    background: rgba(45, 45, 45, 70%);
    border: 1px solid rgba(55, 55, 55, 60%);
}

biome_decoration--DecorationButton#biomeButtonClose:hover {
    background: rgba(196, 60, 60, 70%);
    border: 1px solid rgba(196, 60, 60, 60%);
}

biome_decoration--DecorationButton#biomeButtonClose:pressed {
    background: rgba(165, 45, 45, 75%);
    border: 1px solid rgba(165, 45, 45, 65%);
}
